@model HandiBugTrackerWebClient.Models.BugAllDetailsViewModel

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Back to Bug List", "Index", "BugList")
<hr />
@using (Html.BeginForm("Create", "BugDetails", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CompBug.Name)
                </dt>

                <dd>
                    @Html.EditorFor(model => model.CompBug.Name, new { htmlAttributes = new { @class = "form-control" } })
                </dd>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Categories
                    </div>
                    <div class="panel-body">
                        <dt>
                            @Html.DisplayNameFor(model => model.CompBug.ProdVerId)
                        </dt>

                        <dd>
                            @Html.DropDownListFor(model => model.CompBug.ProdVerId, Model.CompBugOptions.ProductVersionSelectList)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CompBug.BugPriorityId)
                        </dt>

                        <dd>
                            @Html.DropDownListFor(model => model.CompBug.BugPriorityId, Model.CompBugOptions.BugPrioritySelectList)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CompBug.BugSeverityId)
                        </dt>

                        <dd>
                            @Html.DropDownListFor(model => model.CompBug.BugSeverityId, Model.CompBugOptions.BugSeveritySelectList)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.CompBug.TypeName)
                        </dt>

                        <dd>
                            @Html.DropDownListFor(model => model.CompBug.TypeId, Model.CompBugOptions.BugTypeSelectList)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CompBug.ProductName)
                        </dt>

                        <dd>
                            @Html.DropDownListFor(model => model.CompBug.ProductId, Model.CompBugOptions.ProductSelectList)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CompBug.CompName)
                        </dt>

                        <dd>
                            @Html.DropDownListFor(model => model.CompBug.CompId, Model.CompBugOptions.ComponentSelectList)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CompBug.ProductHwId)
                        </dt>

                        <dd>
                            @Html.DropDownListFor(model => model.CompBug.ProductHwId, Model.CompBugOptions.ProductHwSelectList)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CompBug.ProductOSId)
                        </dt>

                        <dd>
                            @Html.DropDownListFor(model => model.CompBug.ProductOSId, Model.CompBugOptions.ProductOSSelectList)
                        </dd>
                    </div>
                </div>
                
                <!--
    <dt>
        @Html.DisplayNameFor(model => model.CompBug.AssigneeName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CompBug.AssigneeName)
    </dd>
     -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Categories
                </div>
                <div class="panel-body">
                    <dt>
                        @Html.DisplayNameFor(model => model.CompBug.StatusName)
                    </dt>

                    <dd>
                        @Html.DropDownListFor(model => model.CompBug.StatusId, Model.CompBugOptions.BugStatusSelectList)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CompBug.SubStateName)

                    </dt>

                    <dd>
                        @Html.DropDownListFor(model => model.CompBug.SubStateId, Model.CompBugOptions.BugStatusSubStateSelectList)
                    </dd>
                </div>
            </div>

</dl>

            @Html.HiddenFor(model => model.CompBug.Id)
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.CompBug.ClientNewComment, new { @class = "form-control z-depth-1", @cols = 100, @rows = 10, @placeholder = "Write new comment here..." })
                @Html.ValidationMessageFor(model => model.CompBug.ClientNewComment, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Changes" class="btn btn-default" />
            </div>
        </div>
        <div class="panel-group">
            @foreach (var item in Model.CompBug.BugComments)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @item.FullName
                        <br />
                        Description - @item.CreatedDate
                    </div>
                    <div class="panel-body">
                        @item.Description
                    </div>
                </div>
            }
        </div>
    </div>
}

